---
const title = Astro.props.title;
---
<svg {...Astro.props} xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" width="24px" height="24px"><path d="M21.749,10l9.821-9H11c-0.363,0-0.698,0.197-0.874,0.515L5.412,10H21.749z"/>
    <polygon points="23,30.801 40.753,25 23,19.199 "/>
    <polygon points="23,37.178 36.805,28.393 23,32.904 "/>
    <polygon points="44,26.186 23.719,39.092 33.229,47.807 44.383,26.429 "/>
    <polygon points="44,23.814 44.383,23.571 33.229,2.193 23.719,10.908 "/>
    <polygon points="23,17.096 36.805,21.607 23,12.822 "/>
    <polygon points="16.37,35.07 7.403,38 19.567,38 "/>
    <polygon points="21,13.4 18.552,15.643 21,16.443 "/>
    <path d="M21.749,40H5.412l4.714,8.485C10.302,48.803,10.637,49,11,49h20.57L21.749,40z"/>
    <polygon points="21,18.546 16.861,17.193 8.342,25 16.861,32.807 21,31.454 "/>
    <polygon points="19.567,12 7.403,12 16.37,14.93 "/>
    <polygon points="21,33.557 18.552,34.357 21,36.6 "/>
    <title>{title}</title>
</svg>