---
const {t} = Astro.props;
---

<section id="certifications" class="min-h-6xl max-w-7xl mx-auto flex justify-start items-center dark:bg-gray-800">
	<h1 class="text-6xl font-bold  dark:border-white py-2">Certifications</h1>			
</section>
