---
import HeartIcon from "@components/icons/Heart.astro";
const {t} = Astro.props;
const year = new Date();
---

<section id="footer" class="min-h-6xl dark:bg-gray-800 bg-pma-programmer bg-gray-800 bg-blend-overlay bg-cover bg-no-repeat bg-left-bottom">
	<div class="max-w-7xl mx-auto flex justify-center items-center text-white gap-2 py-6 text-md tracking-widest">
        <time>{year.getFullYear()}</time>
        <span>@</span>
        <span>{t.globals.developedWith}</span>
        <HeartIcon class="fill-white"/> 
        <span>{t.globals.developedBy}</span>
	</div>
</section>