---
const {t} = Astro.props;
---

<section id="projects" class="min-h-6xl dark:bg-gray-800 bg-pma-programmer bg-white/95 bg-blend-overlay bg-cover bg-no-repeat bg-left-bottom">
	<div class="max-w-7xl mx-auto flex justify-end items-center">		
		<div class="flex justify-between items-center my-32 w-full gap-10">	
			<div class="flex flex-col justify-start items-start cursor-default">
				<div class="flex flex-col justify-center items-end">
					<h1 id="name" class="text-6xl font-bold border-b-4 border-gray-600 dark:border-white py-2">Projects</h1>
				</div>
			</div>
        </div>
	</div>
</section>
