---
import MoonIcon from '@components/icons/Moon.astro';
import SunIcon from '@components/icons/Sun.astro';
const t = Astro.props;
---

<div id="theme-toggle-wrapper" class="flex items-center justify-center">
    <div id="theme-toggle" class="flex justify-center items-center hover:bg-primary dark:border-accent hover:scale-105 rounded-full py-[2.5px] px-2 cursor-pointer">
        <input type="checkbox" class="hidden" id="chk">
        <label id="theme-toggle-label" for="chk" class="flex justify-center items-center cursor-pointer h-[25px] rounded-[50px] relative">
            <span class="sr-only">{t.themeSrOnly}</span>
            <SunIcon id="light" class="size-6 dark:hidden"/>
            <MoonIcon id="dark" class="size-6 hidden dark:block dark:text-white"/>
        </label>
    </div>
</div>

<script is:inline>
    const matchMedia = window.matchMedia('(prefers-color-scheme: light)');
    const themeToggle = document.getElementById('chk');

    document.documentElement.classList[matchMedia.matches?"remove":"add"]("dark");
    

    themeToggle.addEventListener('change', () => {
        document.documentElement.classList.toggle('dark');
    });
</script>